@using GameLogic

@using Microsoft.AspNetCore.Components.Web
@if (Hints != null)
{
    <h4>Hints  <small>@(Hints.Count - revealCount) remaining</small></h4>
   

    for (int i = 0; i < revealCount; i++)
    {
        <h3>
            @Hints[i].Title
        </h3>
        <p>
            @Hints[i].Body
        </p>
        @if (Hints[i].InterfaceHelpLink)
        {
<p>
    <a href="/ReadMeTxt">Read the ReadMe.Txt for an explanation of the user interface</a>
</p>
            
        }
    }

    @if (Hints.Count - revealCount > 0)
    {
        <br/>
        <button class="btn btn-secondary my-2" @onclick="@(() => RevealNext())">Reveal next hint</button>
    }

}


@code {

    [Parameter]
    public List<Hint> Hints { get; set; } = new List<Hint>();

    private int revealCount = 0;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }

    private void RevealNext()
    {
        revealCount++;
        this.StateHasChanged();
    }
}
