@using GameLogic
@using gmtk2020_blazor

@using Microsoft.AspNetCore.Components.Web

<h2>User Input</h2>
<div class="jumbotron mb-4">
    @if (BlockInput)
    {
        <i>running</i>
    }
    else
    {

        <div class="form-group" >
            <label for="prompt">@Prompt</label>
            <input class="form-control my-2" id="prompt" @bind-value="Input" @bind-value:event="oninput" autocapitalize="off" autocorrect="off" autocomplete="off">
            <div>
                <i>@Instruction</i>
            </div>
        </div>
        <button class="btn btn-primary btn-lg my-4" @onclick="@(() => LaunchAction(Input?.ToUpper()))">Run Program</button>
    }
    <hr class="my-4"/>
</div>




@code {

    [CascadingParameter]
    public IndexBase ActiveGame { get; set; }

    [Parameter]
    public string Prompt { get; set; }

    [Parameter]
    public string Instruction { get; set; }

    [Parameter]
    public bool BlockInput { get; set; }

    [Parameter]
    public Action<string> LaunchAction { get; set; }

    public string Input { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        ActiveGame.RunningStatusChanged += (sender, args) =>
        {
            Console.WriteLine("Running status is "+ActiveGame.ManualProgramRunning);
            ToggleInput(ActiveGame.ManualProgramRunning);
        };
    }

    public void ToggleInput(bool block)
    {
        BlockInput = block;
        this.StateHasChanged();
    }


}
