@using GameLogic
@using Microsoft.AspNetCore.Components.Web
@using Shared.Components

@if (Scenario != null)
{
    foreach (var processKey in Scenario.Processes.Keys)
    {
        var processName = processKey;
        <label @onclick="@(() => SetTab(processName))">@processName</label>
        @ChildContent
    }

}


@code {

    [CascadingParameter]
    public IndexBase ActiveGame { get; set; }

    [Parameter]
    public Scenario Scenario { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private void SetTab(string newProcessName)
    {
        ActiveGame.ViewportProcessName = newProcessName;
        this.StateHasChanged();
    }

}
