@page "/ThankYou"

    <div class="container">
        <h3 class="mt-4">Thank You</h3>

        <p>
            I hope that playing my game has made an out-of-control 2020 a little more bearable for ya. 
            From the bottom of my heart, I can say for sure that looking forward to this jam, and being part of this supportive community has helped me get through it.
        </p>
        <h4>
            Stay safe and game on.
        </h4>
        <br />
        ♥ Aaron


        <h3 class="mt-4">
            Contact & Collaborations
        </h3>
        <p>
            Find me on Discord <mark>@@s3raphym</mark> for your next jam.
        </p>


        <h3 class="mt-4">Attributions</h3>

        <div class="my-2">
            <small>BOOTSTRAP386</small><br />
            <a href="https://github.com/kristopolous/BOOTSTRA.386">https://github.com/kristopolous/BOOTSTRA.386</a>
        </div>
        <div>
            <small>Articial OS. It's a bangin' album, right?</small><br/>
            <a href="https://deaddiskdrive.bandcamp.com/album/artificial-os">Make it your everyday background music.</a>
        </div>

    </div>

@code {

}
